<div class='container container-github-connect'>
  <div class='row'>
    <h1 class='logo-mergehook'>MergeHook</h1>
  </div>
  <div class='row'>
    <div class='col-sm-12 btn-container'>
      <%= link_to user_omniauth_authorize_path(:github), class: 'github-btn' do %>
        sign in <i class="fa fa-github-alt"></i>
      <% end %>
    </div>
  </div>
</div>

